{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About page</title>
</head>
<body>
    <a button type="button" class="btn btn-info" href="{% url 'home' %}">Back to home page</a>
    <br>
    <br>
    <h6>About website</h6>
    <p>This is a very simple website. You can use it to count how many words and letters are there in text.
    I've made this simple website just to practice skills in using Django. Hope you enjoy it!</p>
</body>
</html>
{% endblock %}